// your code here
// refer to images in /public with URLs beginning with /
body {
    background-color: #0b233b;
    background-image: url('/public/mi6-seal-bg.png');
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}
nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px 10px 0;
    padding: 5px;
    border-radius: 5px;
}
nav a:hover {
    background-color: #30475e;
}